$navfont: "Poppins"
$titlefont: "Poppins-Bold"
$mainfont: "SourceSansPro"


// BOOTSTRAP
@import '../../node_modules/bootstrap/scss/bootstrap.scss'


// SECTIONS PAGE
@import './../sass/imports/_header.sass'
@import './../sass/imports/_t-shirt-cover.sass'
@import './../sass/imports/_services.sass'
@import './../sass/imports/_products.sass'
@import './../sass/imports/_discover-products.sass'
@import './../sass/imports/_caroussel.sass'
@import './../sass/imports/_cards.sass'
@import './../sass/imports/_footer.sass'
@import './../sass/imports/_copyright.sass'
@import './../sass/imports/_modal.sass'


// FONT_FAMILY
@font-face
    font-family: "Poppins"
    src: url("./../../public/fonts/Poppins-Regular.ttf")
@font-face
    font-family: "Poppins-Bold"
    src: url("./../../public/fonts/Poppins-Bold.ttf")
@font-face
    font-family: "SourceSansPro"
    src: url("./../../public/fonts/SourceSansPro-Regular.ttf")
@font-face
    font-family: "Poppins-Light"
    src: url("./../../public/fonts/Poppins-Light.ttf")
@font-face
    font-family: "SourceSansPro-Light"
    src: url("./../../public/fonts/SourceSansPro-Light.ttf")


// FONTAWESOME    
$fa-font-path: "../webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/_icons.scss"




