#header
    h1
        font-family: $titlefont
        font-size: 28px
        padding-top: 92px
        padding-bottom: 48px
        margin: 0

    // MEDIA QUERIES
    @media only screen and (max-width: 992px)
        h1
            display: none

#navbar
    nav
        text-align: center
        justify-content: flex-end
    

        h2
            font-family: $titlefont
            font-size: 20px
            display: none
            
        // MEDIA QUERIES
        @media only screen and (max-width: 992px)
            h2
                display: inline !important
                
        
        li a
            font-size: 13px
            font-family: $navfont
            letter-spacing: 0.5px

        .boutons

            ul
                list-style: none

                button:focus
                    outline: 0

                #connection
                    font-family: $mainfont
                    background-color: rgb(189, 88, 78)
                    border: 1px solid rgb(189, 88, 78)

                #connection:hover
                    background-color: rgb(160, 70, 64)
                    border: 1px solid rgb(160, 70, 64)

        // MEDIA QUERIES
        @media only screen and (max-width: 992px)
            .boutons
                padding-top: 10px 

    .navbar-toggler-icon
        background-image: none

    // MEDIA QUERIES
    @media only screen and (max-width: 992px)
        .collapse .col-lg-8
            padding-top: 10px


// STYLE boutons noir-blanc JS
.black
    background-color: #23272A
    color: white

.burger-white
    border-color: white !important
    color: white !important

.whiteLetters
    color: white !important

.white
    background-color: white

// STYLE scroll navbar
.fixed-top
    transition: 1s
    top: 0
    z-index: 5


