#services

    .room
        background-image: url("./../../../public/images/services/service-1.jpg")
        background-size: cover
        background-position: center
        height: 256px

        hr
            width: 170px
        
    .items
        background-image: url("./../../../public/images/services/service-2.jpg")
        background-size: cover
        background-position: center
        height: 256px
        
        hr
            width: 143px

    .clothes
        background-image: url("./../../../public/images/services/slider-3.jpg")
        background-size: cover
        background-position: center
        height: 256px
        
        hr
            width: 110px

    h1
        color: white
        font-size: 29px